*.prj
*.cws
*.dll
*.lib
*.def
*.exp
src/timing_cvi_rt.c
*.obj
*.cvidefprots
*.bat
*.txt
src/main_cvi_rt.c
src/zmq.h
src/zmq_utils.h
*.rc
cvibuild.*
*.in
*.xml
*.res
*.out
*.log
*.defs
*.hdefs
src/plugins/robot_control/emg/emg_control~cvi173251.c
*.json
*.json
*.json
*.json~
